# Environment files (all directories)
.env
**/.env

volumes/
shared/
neo4j/
shared-backup/
.env.test
searxng/settings.yml
searxng/uwsgi*

# Exclude large archive files
*.tar
*.tar.gz
*.zip
.DS_Store!shared/capability_map_documents.json
