# Environment files (all directories)
.env
**/.env

volumes/
neo4j/
shared-backup/
.env.test
searxng/settings.yml
searxng/uwsgi*

# Shared folder - ignore all except knowledge
shared/*
!shared/knowledge/

# Exclude large archive files
*.tar
*.tar.gz
*.zip
.DS_Store
